.layout {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}
.game_box {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.game_box button {
  padding: 10px 20px;
  font-family: inherit;
  border: none;
  border-radius: 5px;
}
.circles_box {
  display: flex;
  gap: 7rem;
}
