.layout {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 100px);
  width: 100vw;
}
.game_box {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.game_box button {
  padding: 10px 20px;
  font-family: inherit;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  box-shadow: 5px 9.9px 9.9px hsla(0, 3%, 47%, 0.35);
  color: black;
  font-weight: 700;
}
.circles_box {
  display: flex;
  gap: 6rem;
}
h2 {
  font-weight: 800;
  text-align: center;
}
.healthScore_box {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  width: 100%;
}

@media (max-width: 1400px) {
  .circles_box {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
  }
}
