@import url("https://fonts.googleapis.com/css2?family=Unbounded:wght@400;800&display=swap");

:root {
  font-family: "Unbounded", sans-serif;
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87);
}

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
